@import "tailwindcss";

@theme {
  --color-primary: #1F2937;
}

@layer base {
  nav {
    @apply bg-primary text-lg text-white flex flex-col justify-between px-2 sticky top-0 z-[99]
  }
  nav svg {
    @apply w-full h-full
  }
}

@layer components {
  .nav-layout {
    @apply sm:grid sm:grid-cols-[auto_1fr]
  }

  .toggle-nav-btn {
    @apply size-8 flex justify-center items-center mr-2 hover:cursor-pointer
  }

  .nav-link {
    @apply flex items-center pl-[33%] sm:pl-0
  }

  li:has(.nav-link:not(.active-nav-link)) {
    @apply hover:bg-gray-700
  }

  li:has(.active-nav-link) {
    @apply bg-gray-600
  }

  .login-logout-btn {
    @apply w-full flex items-center pl-[33%] sm:pl-0 mb-3 bg-green-900/70 hover:bg-green-900 rounded-lg hover:cursor-pointer overflow-hidden
  }
}